@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

    <p>Webapp sample retriving secret-key from Azure KeyVault. Webapp is secured authenticated by Service Principal! </p>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


