@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

    <h2>
        Azure web application is reading information from Azure Key Vault by using managed identities for Azure resources. Using Key Vault helps keep the information secure!.
    </h2>
    
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>


